{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  integrant/integrant {:mvn/version "0.8.0"}

  ;; http server
  metosin/reitit                 {:mvn/version "0.5.17"}
  info.sunng/ring-jetty9-adapter {:mvn/version "0.17.5"}
  metosin/muuntaja               {:mvn/version "0.6.8"}

  ;; logging
  com.taoensso/timbre       {:mvn/version "5.2.1"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
  org.slf4j/slf4j-api       {:mvn/version "1.7.36"}

  metosin/jsonista {:mvn/version "0.3.5"}

  aero/aero {:mvn/version "1.1.6"} ;; config

  com.taoensso/carmine {:mvn/version "3.1.0"}  ;; redis

  clj-http/clj-http {:mvn/version "3.12.3"} ;; client

  telegrambot-lib/telegrambot-lib {:mvn/version "1.4.0"}}
 :aliases
 {:run-m   {:main-opts ["-m" "perepisun.perepisun"]}
  :dev     {:extra-paths ["dev"]
            :extra-deps {integrant/repl {:mvn/version "0.3.2"}}}
  :cider   {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.3"}}}
  :test    {:extra-paths ["test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                          io.github.cognitect-labs/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner"
                           :sha     "62ef1de18e076903374306060ac0e8a752e57c86"}}
            :exec-fn     cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot        true
                           :jar        "rewraktar.jar"
                           :main-class "perepisun.http"
                           :sync-pom   true}}}}
